.img {
    position: relative;
    float: left;
    width:  50px;
    height: 50px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    object-fit: cover;
}