body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.error-msg{
  color:red;
  padding-left: 10px;
  padding-top: 10px;
}

.background {
  background-image: url(https://images.unsplash.com/photo-1520588831435-1529e6d7cf5e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fd3d7c35892bd8c7c9e757865a764d4c&auto=format&fit=crop&w=1284&q=80);
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

.am-tab-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fixed-header.am-navbar{
  position: fixed;
  top: 0;
  width: 100%;
}

.page-content{
  padding: 45px 5px;
}


.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.stick-footer {
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*body { padding-top: 20px; }*/
@media screen and (max-width: 768px) {
  body { padding-top: 0px; }
}
