body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.error-msg{
  color:red;
  padding-left: 10px;
  padding-top: 10px;
}

.am-tab-bar{
  position: fixed;
  bottom: 0;
  width: 100;
}

.am-navbar{
  position: fixed;
  top: 0;
  width: 100%;
}

.page-content{
  padding: 45px 5px;
}


.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.stick-footer {
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
}

body { padding-top: 20px; }
@media screen and (max-width: 768px) {
  body { padding-top: 0px; }
}
